        body{
            background-color: #EAF6F6;
            margin: 0px;
        }

        hr{  
            background-color:white;
            border-style: dotted none none;
            border-color:red;
            border-width: 8px;
            width: 10%;
        }
        h1{
            color:#373677;
        }
        h2{
            color:#373677;
            font-family: Garamond;
        }
        h3{
            color:#373677;
            font-family: Garamond;
        }
        .top-container{
            background-color: #00FFFF;
            font-family:'Trebuchet MS', sans-serif;
            border-radius: 15px;
        }
        .middle-container{
            margin: 0px 15px;
        }
        .bottom-container{
            margin:10px 15px;
        }
        button{
            background-color: rgb(66, 106, 216);
            color: #EAF6F6;
        }